body,
html {
	background-color: #242424;
	color: white;
	font-family: "Raleway", sans-serif;
	font-weight: lighter;
	overflow-x: hidden;
}

.main_container {
	display: flex;
}

/* невідвідане посилання */
a:link {
	color: #242424;
}

/* відвідане посилання */
a:visited {
	color: #242424;
}

/* мишка на посиланні */
a:hover {
	color: #00a25f;
}

/* посилання обране */
a:active {
	color: #00a25f;
}

.right_screen {
	position: relative;
	display: inline-block;
	width: 50%;
}

.left_screen {
	position: relative;
	float: left;
	height: 100%;
	width: 50%;
	overflow: hidden;
}

.header_font {
	text-align: center;
	font-size: 2.5em;
	line-height: 1;
}

.medium_font {
	font-size: 1.2em;
	line-height: 1;
}

.small_font {
	font-size: 1.2em;
	line-height: 1;
}

.wrapper {
	margin-left: 5%;
	width: 90%;
	height: auto;
	display: flex;
	padding-bottom: 0px;
	padding-top: 0px;
}

.player_box {
	display: inline-block;
	outline: none !important;
	width: 45%;
	background-color: #deeaee;
	padding: 0 15px 5px;
	border-top-right-radius: 0px;
	border-top-left-radius: 3px;
	color: #242424;
	text-align: center;
}

.black_player_color {
	background-color: #242424;
	color: white;
	border-top-right-radius: 3px;
	border-top-left-radius: 0px;
}

.highlight_box {
	width: 45%;
	background-color: #A0522D;
	padding: 0 20px 5px;
	padding-right: 50px;
	padding-bottom: 8px;
	color: white;
	text-align: center;
	margin-bottom: 20px;
}

.side_box {
	width: 65%;
	box-sizing: border-box;
	background-color: #FFE4B5;
	color: #242424;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #232621;
	position: relative;
	top: calc(50% - 41vmin);
	left: 13%;
	margin: 0 0 30 0;
	padding-bottom: 1px;
}

.transparent {
	background-color: transparent;
}

.content {
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 5px;
	margin-right: 10px;
}

.mate_wrapper {
	text-align: center;
}

.button_wrapper {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 24px;
}

.start {
	display: flex;
	justify-content: space-around;
	width: 50%;
	margin: auto;
}

.selection_start {
	width: 100%;
}

.load_save {
	display: flex;
	width: 50%;
	justify-content: space-around;
	margin: auto;
}

.load,
.save {
	width: 100px;
}

.restart {
	margin: auto;
}

.button {
	display: block;
	position: relative;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: white;
	background-color: #A0522D;
	border: none;
	border-radius: 5px;
	font-size: 0.8em;
	transition: background-color 0.5s;
	margin-bottom: 0px;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
}

.button_font {
	font-size: 1.2em;
	line-height: 1;
}

.table {
	position: absolute;
	top: calc(50% - 42vmin);
	left: calc(50% - 46vmin);
	width: 80vmin;
	height: 80vmin;
}

.table_piece_selection {
	position: absolute;
	top: calc(50% - 42vmin);
	left: calc(50% - 46vmin);
	width: 64vmin;
	height: 64vmin;
}

.square {
	outline: none !important;
	border: none;
	border-width: 0px;
	float: left;
	height: 10vmin;
	width: 10vmin;
	transition: background-color 0.7s;
	-webkit-transition: background-color 0.7s;
}

.square_piece_selection {
	position: relative;
	left: 17.5%;
	outline: none !important;
	border: none;
	border-width: 0px;
	float: left;
	height: 8vmin;
	width: 8vmin;
	transition: background-color 0.7s;
	-webkit-transition: background-color 0.7s;
}

.player_selection {
	display: flex;
	justify-content: space-around;
	width: 80%;
}

.player_button {
	bottom: 1vmin;
	width: 10vmin;
}

.first_player {
	position: relative;
	top: 0.8vmin;
	font-size: 18px;
}

.black_panel {
	position: relative;
	display: flex;
	top: 1vmin;
	left: 3vmin;
}

.white_panel {
	position: relative;
	display: flex;
	bottom: 17vmin;
	left: 3vmin;
}

.row_label {
	outline: none !important;
	position: relative;
	top: 3vmin;
	left: calc(50% - 55vmin);
	width: 10vmin;
	height: 80vmin;
}

.row_label_piece_selection {
	outline: none !important;
	position: relative;
	top: 3vmin;
	left: calc(50% - 42vmin);
	width: 10vmin;
	height: 80vmin;
}

.col_label {
	outline: none !important;
	position: relative;
	top: 1.5vmin;
	left: calc(50% - 46vmin);
	width: 80vmin;
	height: 10vmin;
}

.col_label_piece_selection {
	outline: none !important;
	position: relative;
	top: -14vmin;
	left: calc(50% - 35vmin);
	width: 80vmin;
	height: 10vmin;
}

.piece {
	height: 60%;
	width: auto;
}

@media screen and (max-width: 1100px) {
	.right_screen {
		width: 100%;
		margin-left: 5px;
	}

	.left_screen {
		width: 100% !important;
		height: auto;
	}

	.row_label {
		top: calc(50% - 42vmin);
		left: calc(50% - 52vmin);
	}

	.col_label {
		top: calc(50% - 42vmin);
		left: calc(50% - 42vmin);
	}

	.table {
		top: calc(50% - 42vmin);
		left: calc(50% - 42vmin);
	}

	.side_box {
		width: 60%;
		top: calc(50% - 41vmin);
		left: 17%;
		margin: 40 0 20 0;
	}
}